{
  "openapi": "3.0.0",
  "info": {
    "title": "Privy Auth API",
    "version": "0.1.0-draft",
    "x-generated-by": "gecko.docs_reader"
  },
  "servers": [{ "url": "https://auth.privy.io" }],
  "paths": {
    "/api/v1/passwordless/init": {
      "post": {
        "operationId": "initPasswordless",
        "summary": "Start a passwordless login by emailing a one-time code.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["email"],
                "properties": { "email": { "type": "string", "format": "email" } }
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "success": { "type": "boolean" } }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/passwordless/authenticate": {
      "post": {
        "operationId": "authenticatePasswordless",
        "summary": "Exchange the emailed one-time code for a session token.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["email", "code"],
                "properties": {
                  "email": { "type": "string", "format": "email" },
                  "code": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "token": { "type": "string" } }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/email/login": {
      "post": {
        "operationId": "loginWithEmail",
        "summary": "Log in with an email and password (a docs source hallucinated this endpoint; Privy has no such route).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["email", "password"],
                "properties": {
                  "email": { "type": "string", "format": "email" },
                  "password": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "token": { "type": "string" } }
                }
              }
            }
          }
        }
      }
    }
  }
}
